@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: rgb(198, 39, 71);
}

#h1 {
    font-size: 50px;
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
}

#conteiner {
    display: flex;
    flex-direction: row;
    font-family: "Playfair Display", serif;
}